WCFDataServiceConsumer/Service References/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetDataResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="composite" type="tns:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="MessageID" type="tns:UniqueId" />
      <xs:element minOccurs="1" maxOccurs="1" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="StringValue" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UniqueId" />
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetDataUsingDataContractResult" type="tns:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="person" type="tns:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="MessageId" type="tns:UniqueId" />
      <xs:element minOccurs="0" maxOccurs="1" name="UserName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetPersonResult" type="tns:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>