AsynchronousServiceConsumer/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/AsynchronousService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/AsynchronousService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_SampleMethodTest_InputMessage">
    <wsdl:part name="parameters" element="tns:SampleMethodTest" />
  </wsdl:message>
  <wsdl:message name="IService1_SampleMethodTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SampleMethodTestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SampleMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:SampleMethod" />
  </wsdl:message>
  <wsdl:message name="IService1_SampleMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:SampleMethodResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ServiceAsyncMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceAsyncMethod" />
  </wsdl:message>
  <wsdl:message name="IService1_ServiceAsyncMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceAsyncMethodResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="SampleMethodTest">
      <wsdl:input wsam:Action="http://tempuri.org/IService1/SampleMethodTest" message="tns:IService1_SampleMethodTest_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService1/SampleMethodTestResponse" message="tns:IService1_SampleMethodTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SampleMethod">
      <wsdl:input wsam:Action="http://tempuri.org/IService1/SampleMethod" message="tns:IService1_SampleMethod_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService1/SampleMethodResponse" message="tns:IService1_SampleMethod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceAsyncMethod">
      <wsdl:input wsam:Action="http://tempuri.org/IService1/ServiceAsyncMethod" message="tns:IService1_ServiceAsyncMethod_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService1/ServiceAsyncMethodResponse" message="tns:IService1_ServiceAsyncMethod_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SampleMethodTest">
      <soap:operation soapAction="http://tempuri.org/IService1/SampleMethodTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SampleMethod">
      <soap:operation soapAction="http://tempuri.org/IService1/SampleMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceAsyncMethod">
      <soap:operation soapAction="http://tempuri.org/IService1/ServiceAsyncMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8080/AsynchronousService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>